@model IEnumerable<HoxWiChallage.Models.ViewModel.ForeignViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FistName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SureName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BornDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arrived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CivilStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KindOfVisa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FistName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SureName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BornDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arrived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CivilStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KindOfVisa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
