@model IEnumerable<HoxWiChallenge.Web.Models.ViewModel.ForeignViewModel>

@{
    ViewBag.Title = "Index";
}

<div id="foreignModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Foreign</h5>
            </div>
            <div id="modalBody" class="modal-body">

            </div>
            <div class="modal-footer">
                <button id="btnModal" type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <button id="newForeign" type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        New Foreign
    </button>
</div>

<table id="gridForeign" class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th data-column-id="Id" data-type="numeric" data-sortable="false" data-order="desc" data-visible="false">Id</th>
            <th data-column-id="FullName">Name</th>
            <th data-column-id="Gender">Gender</th>
            <th data-column-id="BirthdayDate" data-converter="datetime">Birthday</th>
            <th data-column-id="Nationality" data-sortable="false" data-align="justify" data-formatter="flag">Nationality</th>
            <th data-column-id="Arrival" data-converter="datetime">Arrived Date</th>
            <th data-column-id="VisaName">Visa</th>
            <th data-column-id="action" data-formatter="actions" data-sortable="false"></th>
        </tr>
    </thead>
</table>


@section scripts {

    <link href="~/Content/jquery.bootgrid.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/jquery.alertable.css" rel="stylesheet" />
    <link href="~/Content/pretty-checkbox.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/Content/flag-icon.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.bootgrid.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.alertable.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/jquery.formautofill.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script src="~/Scripts/Application/foreign.js"></script>
    <script type="text/javascript">

        var getForeignUrl = "@Url.Action("GetForeigns")";
        var getForeignById = "@Url.Action("GetForeignById")";
        var foreignFormUrl = "@Url.Action("ForeignForm")";
        var createForeignUrl = "@Url.Action("Create")";
        var deleteForeignUrl = "@Url.Action("Delete")";
        var editForeignUrl = "@Url.Action("Update")";

    </script>

}